.tables{
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
    position: center;
    margin-left: 30px;

}

tr{
    border: none;
    margin: 0px;
}

.header{
    width: 150px;
    text-align: center;
    background:hsl(22, 85%, 57%);
    display: inline-block;
    left: 80px;
    top:-20px;
    position: absolute;
    border-radius: 20px;
}
.card{
    border:solid 2px sandybrown;
    box-shadow: none;
    border-radius: 20px;
    width: 300px;


}
.footer{
    background:hsl(33, 88%, 84%);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 75px;
}
.carousel{
    height: 700px;
    perspective: 100em;

}
.header2{
    text-align: center;
}
#sometext{
    font-size: 20px;
    color: blue;


}
.tab{
    padding: 20px;
    color: orangered;
    cursor: pointer;

}
#navbar{
    top:0px;
    position: static;
    display: inline-block;

}

